[Unit]
Description=ShellTime Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'exec $(getent passwd $(id -un) | cut -d: -f7) -l -c "{{.BaseFolder}}/bin/shelltime-daemon"'
Restart=always

# Resource limits
LimitNOFILE=65536

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
