[Unit]
Description=ShellTime Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/shelltime-daemon
Restart=always

[Install]
WantedBy=default.target
